ul {
  list-style-type: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

li {
  cursor: pointer
}

.small-font {
  font-size: 1.2rem;
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
}

.tab {
  padding: 7px;
  border-radius: 7px;
  background-color: beige;
  border: 0.5px solid gray
}

.nav-searchbar {
  width: 220px;
  height: 20px;
  padding: 5px;
  outline: none
}

.nav-searchbar:hover {
  border: 2px solid black;
  border-radius: 3px;
}

.main-searchbar {
  border: 1px solid black;
  border-radius: 3px;
}

.main-searchbar:hover {
  border: 3px solid black;
  border-radius: 3px;
}