body {
  font-size: 16px;
  padding: 0px;
  margin: 0px
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: gray;
}

ul {
  list-style-type: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px
}

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

li {
  cursor: pointer
}

.small-font {
  font-size: 1.2rem;
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  height: 700px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.tab {
  padding: 7px;
  border-radius: 7px;
  background-color: beige;
  border: 0.5px solid gray;
  cursor: pointer;
}

.nav-searchbar {
  width: 220px;
  height: 20px;
  padding: 5px;
  outline: none
}

.nav-searchbar:hover {
  border: 2px solid black;
  border-radius: 3px;
}

.main-searchbar {
  border: 1px solid black;
  border-radius: 3px;
}

.darkModeButtonDiv {
  display: flex;
  justify-content: flex-end;
}

.tab-label {
  font-size: 3rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav-bar {
    position: relative;
    left: 0;
    /* Change this from -100% to 0 */
    top: 3rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }


}