body {
  font-size: 16px;
  padding: 0px;
  margin: 0px
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: gray;
}

ul {
  list-style-type: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

li {
  cursor: pointer
}

.small-font {
  font-size: 1.2rem;
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  height: 700px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.tab {
  padding: 7px;
  border-radius: 7px;
  background-color: beige;
  border: 0.5px solid gray;
  cursor: pointer;
}

.nav-searchbar {
  width: 220px;
  height: 20px;
  padding: 5px;
  outline: none
}

.nav-searchbar:hover {
  border: 2px solid black;
  border-radius: 3px;
}

.main-searchbar {
  border: 1px solid black;
  border-radius: 3px;
}

.darkModeButtonDiv {
  display: flex;
  justify-content: flex-end;
}

.tab-label {
  font-size: 3rem;
  font-weight: bold;
}